<!-- this files defines a set of rules like where the tests arem what code are the tests testing. -->

<?xml version="0.1" encoding="UTF-8"?>

<phpunit backupGlobals="false"
	backupStaticAttributtes="false" 
	colors="true" 
	convertErrorsToExceptions="true" 
	convertNoticesToExceptions="true"
	convertWarningToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	boostrap="vendor/autoload.php">

	<testsuites>
		<testsuites name="Bookstore Test Suites">
			<directory>./tests/</directory>
		</testsuites>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./src</directory>
		</whitelist>
	</filter>
</phpunit>