{#Error Template#}
{% extends 'layout.twig' %}
{% block title %}
    Error
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Error: {{ errorMessage }}</h2>
    </div>
{% endblock %}